In [193]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from ml_workflow import *

- Loading the dataset
- Understanding the dataset
- Data preprocessing
- Data visualization
- Building a classification model
- Model evaluation
- Model prediction

In [194]:
bank = pd.read_csv('../data/data_banknote_authentication.csv')

In [195]:
bank.head()

   variance  skewness  curtosis  entropy   class
0   3.62160    8.6661   -2.8073 -0.44699       0
1   4.54590    8.1674   -2.4586 -1.46210       0
2   3.86600   -2.6383    1.9242  0.10645       0
3   3.45660    9.5228   -4.0112 -3.59440       0
4   0.32924   -4.4552    4.5718 -0.98880       0

In [196]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4    class    1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [197]:
bank.rename(columns={bank.columns[-1]: 'class'}, inplace=True)

In [198]:
bank.columns

Index(['variance', 'skewness', 'curtosis', 'entropy', 'class'], dtype='object')

In [199]:
bank, label = data_preprocessing(bank, 'class')

In [200]:
X = bank.drop(bank.columns[-1], axis=1)
y = label.astype('int64')

X_train, X_, y_train, y_ = train_test_split(X, y, test_size=0.2)
X_val, X_test, y_val, y_test = train_test_split(X_, y_, test_size=0.1)

In [201]:
boost = GradientBoostingClassifier(random_state=0).fit(X_train, y_train)
boost.score(X_test, y_test)

1.0

In [202]:
bank.head()

   variance  skewness  curtosis   entropy
0  0.769004  0.839643  0.106783  0.736628
1  0.835659  0.820982  0.121804  0.644326
2  0.786629  0.416648  0.310608  0.786951
3  0.757105  0.871699  0.054921  0.450440
4  0.531578  0.348662  0.424662  0.687362

In [203]:
X_train, X_test, y_train, y_test = prepare_dataset(bank, label)

In [204]:
score = training_validating_model(X_train, y_train, X_test, y_test, LogisticRegression())
score

0.9690949227373068